<%
    const linkFolderSlider = 'uploads/slider/';
    const linkFolderArticle = 'uploads/article/';
    const linkFolderBranch = 'uploads/branch/';
    const linkFolderBanner = 'uploads/banner/';
%>
<% include ./../../helpers/colorItem %>
<% include ./../../helpers/sizeItem %>
<% include ./../../helpers/imgArticle %>
<% include ./../../helpers/spanSubmit %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb bg-blue">
                
            </ol>
        </div>
    </div>
</div>


<div class="container">
    <div class="row block none-padding-top">
        <div class="col-xs-12">
            <ul class="steps row">
                <li class="active col-xs-12 col-sm-4 col-md-4 col-lg-3"  id="confirm_product">
                    <div class="icon number bg-blue">
                        1
                    </div>
                    <span>
                        Confirm 
                    </span>
                    products list
                    <span class="dir-icon hidden-xs">
                        <i class="icofont icofont-stylish-right text-yellow"></i>
                    </span>
                </li>
                <li class="hidden-xs col-sm-4 col-md-4 col-lg-3" id="address">
                    <div class="icon number bg-grey">
                        2
                    </div>
                    <span>
                        Enter
                    </span>
                    your address
                    <span class="dir-icon">
                        <i class="icofont icofont-stylish-right"></i>
                    </span>
                </li>
                <li class="hidden-xs col-sm-4 col-md-4 col-lg-3" id="payment">
                    <div class="icon number bg-grey">
                        3
                    </div>
                    <span>
                        Select
                    </span>
                    payment method
                    
                    <span class="dir-icon hidden-sm hidden-md">
                        <i class="icofont icofont-stylish-right"></i>
                    </span>
                </li>

                <li class="hidden-xs col-lg-3 hidden-sm hidden-md" id="confirm_order">
                    <div class="icon number bg-grey">
                        4
                    </div>
                    <span>
                        Confirm
                    </span>
                    your order
                </li>
            </ul>
        </div>
    </div>
    <div class="row block none-padding-top">
        <div class="col-xs-12">
            <div class="product-list">
                <div class="wrap bg-white">
                    <div class="list-header text-uppercase">
                        <div class="check hidden-xs hidden-sm">
                            <div class="checkbox vers-2">
                                <input type="checkbox" id="checkAll">
                                <label for="checkAll">
                                    <i class="icofont icofont-check-alt"></i>
                                </label>
                            </div>
                        </div>
                        <div class="product">
                            Product
                        </div>

                        <div class="size hidden-xs hidden-sm">
                            Color
                        </div>


                        <div class="size hidden-xs hidden-sm">
                            Size
                        </div>

                        <div class="price hidden-xs hidden-sm">
                            Price
                        </div>

                        <div class="qnt hidden-xs hidden-sm">
                            Quantity
                        </div>

                        <div class="total hidden-xs hidden-sm">
                            Total
                        </div>

                        <div class="rmv hidden-xs hidden-sm">
                            Remove
                        </div>
                    </div>
                    <div class="list-body">
                       
                    </div>
                    <div class="list-footer bg-blue">
                        <a href="shop/cart-address" class="btn btn-default btn-material">
                            <i class="icofont icofont-cart-alt"></i>
                            <span class="body">Make a purchase</span>
                        </a>
                        <a id="detele_items_check" class="btn btn-text-white">
                            <span class="body">remove selected</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>