<%
    const linkFolderSlider = 'uploads/slider/';
    const linkFolderArticle = 'uploads/article/';
    const linkFolderBranch = 'uploads/branch/';
    const linkFolderBanner = 'uploads/banner/';
%>

<div class="container">
    <div class="row shop-tracking-status">
        
        <div class="col-md-12">
            <div class="well">  
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputOrderTrackingID" class="col-sm-2 control-label">Order Code Here!</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputOrderTrackingID" value="" placeholder="Code check!">
                            <span class="tracking_err"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="shopGetOrderStatusID" class="btn btn-primary">Check!</button>
                        </div>
                    </div>
                </div>
                <div class="list_orders">
                    
                </div>

                <div class="order-status">

                </div>
            </div>
        </div>

    </div> 
</div>

