<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<title> Shopping Online </title>
	<head>
		<% include ./html/head %>
	</head>
	<body>
		<% include ./html/header %>
		<div class="main_body">
			<%- body %>	
		</div>
		<% include ./html/footer %>

		<% include ./html/script %>
		<% include ./elements/signup %>
	</body>

</html>