<%
    const linkFolderArticle = 'uploads/article/';
%>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="" alt="" class="brand">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="top-panel">
                <div class="phone text-blue">
                    <i class="icofont icofont-phone-circle"></i>
                    +084 869 988 453
                </div>
                <div class="btn-cols">
                    <ul class="list-btn-group">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#myModal" id="login_box">
                                Log In
                            </a>
                        </li>
                        <li>
                            <a href="register-page.html">
                                <b>Register</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right info-panel">
                <li class="profile">
                </li>
                <li class="cart">
                    <a href="#" class="cart-icon hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="badge bg-blue"></span>
                        <i class="icofont icofont-cart-alt"></i>
                    </a>
                    <a href="#" class="visible-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="icofont icofont-cart-alt"></i>
                        Shopping cart
                    </a>
                    <ul class="dropdown-menu show_list_item">
                                 
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav menu">
                <li class="active">
                    <a href="/shop">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/shop/category">
                        Category
                    </a>
                </li>
                <li>
                    <a href="/shop/tracking">
                       Tracking
                    </a>
                </li>
            </ul>
        </div>
    </div> 
</nav>