<base href="/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AdminLTE 3 | Dashboard</title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="shop/css/me.css" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="shop/assets/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="shop/css/theme.css" rel="stylesheet">
<link href="shop/css/tracking.css" rel="stylesheet">
<!-- Icons -->
<link href="shop/assets/fonts/icofont/icofont.min.css" rel="stylesheet">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">

        