<% include ./../helpers/colorItem %>
<% include ./../helpers/sizeItem %>
<% include ./../helpers/spanSubmit %>

<div class="row pagination-block hidden-xs">
        <div class="col-xs-12">
            <div class="wrap">
                <ul class="swither">
                    <li class="cols">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li class="rows active">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="row item-wrapper">
       
    </div>
    <div class="row pagination-block bottom">
        <div class="col-xs-12">
            <div class="wrap pagination_ajax">
               
                <ul class="swither">
                    <li class="cols">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li class="rows active">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>