<div class="container-fluid block">
    <div class="row parallax-wrap">
        <div class="container block">
            <div class="row">
                <div class="col-md-5">
                    <span class="comp-header st-18 text-uppercase">
                        Subscribe <br>
                        <span class="text-white">on latest news</span>
                    </span>
                </div>
                <div class="col-md-7">
                    <form class="subscribe sdw" id="subscribe">
                        <div class="wrap">
                            <div class="fields">
                                <div class="name">
                                    <input type="text" name="name" placeholder="Name">
                                   
                                </div>
                                <div class="email">
                                    <input type="text" name="email" placeholder="Email">
                                   
                                </div>
                                <div class="divider">
                                    <span></span>
                                </div>
                            </div>
                            <div class="send-btn">
                                <button>
                                    <i class="icofont icofont-send-mail"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="parallax bg-grey-light opc-7"
                data-parallax-image="shop/img/bg-02.jpg"
                data-speed-direction="-.2"></div>
    </div>
</div>